@{
    ViewBag.Title = "Unable to delete";
}

<hgroup class="alert alert-danger">
    <h1 class="text-danger">This user is assigned to some machines</h1>
    <h2 class="text-danger">Please unassign the user from all machines and try deleting again.</h2>
</hgroup>

<a href="@Url.Action("Index", "Account")" class="btn btn-default">
    Back
</a>
